.bodyInfoMain{
    display: flex;
}
.bodyInfoMain input{
display: none;
}
.navigation-manual{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -10vh;
}

.manual-btn{
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 3s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color:rgb(255, 255, 255);
}

#radio1:checked ~ .containerInfoMain{
    background-image: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/ba1.jpg);    
    background-position: 70% 15%; 
   
}

#radio2:checked ~ .containerInfoMain{
    background-image: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/ba2.jpg);
    background-position: 41% 100%;
    
}

#radio3:checked ~ .containerInfoMain{
    background-image: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/ba3.jpg);
    background-position: 52% 0%;  
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 90vh;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

.navigation-auto div{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 3s;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgba(255, 255, 255, 0.40)
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background:  rgba(255, 254, 225, 0.40);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgba(170, 199, 253, 0.40);
}