/*********** EFECTS ************/
.linkMenu:hover, .subMenu a:hover{
    transition: 0.3s ease;
    color: var(--color-item-menu-select);
    transform: scale(1.05);
}
.linkM_5:hover{
    color: var(--color-item-menu-special-select);
}
.more ul li:hover .subMenu{ 
    top: 60px;
    background-color:var(--color-menu);
    visibility: visible;
    height: auto;
    transition: 0.3s ease;
}
#menuMobile:hover{
    cursor: pointer;
}
.menuRight:hover .mobile .menuItems{
    margin-right: -7%;
    display: flex;
    visibility: visible;
    transition: 1s ease;   
}

.menuRight:hover .mobile a .cac-menu{
     /* content: "\e903"; */
    color: teal;
    transform: scale(1.1);
}
.buttonColor:hover { 
    background: #74aa17; 
}
.cac-menu:hover:before {
    content: "\e903";
    color: white;
    /* font-size: 2.5em; */
  } 
.card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s ease;
}
